body {
    background-color: #19191b;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.wrapper {
    position: absolute; /* остаётся на месте при скролле */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100; /* под всем контентом */
    overflow: hidden;
    pointer-events: none;
}
/* Анимация плавного движения */
.animate_block {
    position: absolute;
    width: 100vw;
    height: 100%;
    /* animation: floatRotate 6s ease-in-out infinite; */
    overflow: hidden;
}
.float_animation {
    animation: floatRotate 6s ease-in-out infinite;
}
/* Первый градиент */
.color1 {
    position: absolute;
    left: -40vw;
    top: -30vh;
    width: 80vw;
    height: 40vh;
    filter: blur(25vw);
    background: radial-gradient(
        circle at center,
        rgba(249, 252, 50, 0.411) 0%,
        rgba(251, 128, 28, 0.25) 70%
    );
    transform: rotate(228deg);
    z-index: 0;
}
/* Второй градиент */
.color2 {
    position: absolute;
    top: 60vh;
    right: 10vw;
    width: 25vw;
    height: 25vh;
    min-height: 200px;
    filter: blur(20vw);
    background: radial-gradient(
        circle at center,
        rgb(225 255 0 / 89%) 0%,
        rgb(175 139 51 / 45%) 100%
    );
    z-index: 0;
}

/* Второй градиент */
.color3 {
    position: absolute;
    border-radius: 166px;
    width: 412px;
    height: 493px;
    filter: blur(700px);
    background: radial-gradient(
        94.36% 95.39% at 46.69% 67.69%,
        rgba(255, 169, 0, 0.5) 0%,
        rgba(224, 86, 136, 0.5) 100%
    );
    transform: rotate(106deg);
    z-index: 0;
}
.color4 {
    position: absolute;
    z-index: 0;
    border-radius: 166px;
    width: 214px;
    height: 216px;
    filter: blur(700px);
    background: radial-gradient(
        170.99% 147.33% at 49.85% 50.2%,
        #0ff 0%,
        rgba(251, 190, 70, 0.5) 100%
    );
    transform: rotate(106deg);
}

.color1,
.color2,
.color3,
.color4 {
    animation: floatRotate 5s ease-in-out infinite alternate;
}
/* Анимация */
@keyframes floatRotate {
    0% {
        transform: translateY(0) rotate(0deg) scale(1);
        opacity: 0.3;
    }
    25% {
        transform: translateY(-2vh) rotate(4deg) scale(1.04);
        opacity: 0.5;
    }
    50% {
        transform: translateY(0) rotate(0deg) scale(1);
        opacity: 0.8;
        filter: blur(300px);
    }
    75% {
        transform: translateY(2vh) rotate(-4deg) scale(0.96);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0) rotate(0deg) scale(1);
        opacity: 0.3;
    }
}
@keyframes appearHover {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.hoverAppear {
    animation-name: appearHover;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}

/* --- АДАПТИВ --- */
@media (max-width: 1024px) {
    .color1 {
        width: 100vw;
        height: 45vh;
        filter: blur(30vw);
        opacity: 0.8;
    }

    .color2 {
        top: 90vh;
        width: 40vw;
        height: 20vh;
        filter: blur(25vw);
        opacity: 0.8;
    }
}

@media (max-width: 768px) {
    .color1 {
        top: -20vh;
        width: 120vw;
        filter: blur(35vw);
        opacity: 0.6;
    }

    .color2 {
        top: 85vh;
        right: 5vw;
        width: 50vw;
        height: 25vh;
        filter: blur(30vw);
        opacity: 0.6;
    }
}

@media (max-width: 480px) {
    .color1 {
        top: -10vh;
        width: 140vw;
        height: 50vh;
        filter: blur(70vw);
        opacity: 0.7;
    }

    .color2 {
        top: 80vh;
        width: 70vw;
        height: 30vh;
        right: 0;
        filter: blur(65vw);
        opacity: 0.7;
    }
}
